.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.5rem calc((100vw - 1300px) / 2);
  color: white;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition:    background-color 0.2s ease-out;
    -ms-transition:     background-color 0.2s ease-out;
    -o-transition:      background-color 0.2s ease-out;
    transition:         background-color 0.2s ease-out;
}

.header_active {
  background-color: black;
}

.header_mentorias {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  cursor: default;
  font-size: large;
}

.header_routes {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.header_routes a {
  margin: 0 2rem;
}

.header_routes link:hover {
  color:lightgrey;
}

.header_routes_active {
  color:rgb(231, 151, 53);
}

.header_menu {
  width: 2em;
  height: 100%;
  padding: 1.2rem 0 1.2rem 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: none;
}

.header_menu_bar {
  height: 0.1em;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .header_routes {
    display: none;
  }
  .header_mentorias {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    transform: translateX(calc(1rem + 1em));
  }
  .header_menu {
    display: inherit;
    cursor: pointer;
    z-index: 100;
  }
}

/* visible and hidden */

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* animation for burger menu */

.header_menu_bar.header_menu_clicked:nth-child(1) {
  transform: translateY(calc(5vh - 1.8rem)) rotate(225deg);
  transition: ease-out 0.5s;
  height: 0.2rem;
}

.header_menu_bar.header_menu_clicked:nth-child(2) {
  transform: rotate(45deg);
  transition: ease-out 0.5s
}

.header_menu_bar.header_menu_clicked:nth-child(3) {
  transform: translateY(calc(-5vh + 1.8rem)) rotate(315deg);
  transition: ease-out 0.5s;
  height: 0.2rem;
}

.header_menu_bar.header_menu_unclicked {
  transform: translate(0) rotate(0);
  transition:cubic-bezier(1, 0, 0, 1) 0.5s;
  height: 0.1rem;
}