@font-face {
  font-family: Randrake;
  src: url(../public/randrake-font-script/Randrake.otf) format("opentype");
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.5rem 0.5rem;
  color: white;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition:    background-color 0.2s ease-out;
    -ms-transition:     background-color 0.2s ease-out;
    -o-transition:      background-color 0.2s ease-out;
    transition:         background-color 0.2s ease-out;
}

.header_active {
  background-color: black;
}

.header_mentorias {
  font-family: Randrake;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  cursor: default;
  font-size: xx-large;
  color:rgb(231, 151, 53);
}

.header_routes {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.header_routes a {
  margin: 0 2rem;
}

.header_routes a:hover {
  color:lightgrey;
}

.header_routes_active {
  color:rgb(231, 151, 53);
}

.header_menu {
  width: 2em;
  height: 100%;
  padding: 1.2rem 0 1.2rem 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: none;
  background-color: white;
}

.header_menu_bar {
  height: 0.1em;
  background-color: white;
  display: block;
}

.header_menu_bar:nth-child(1) {
  top: 0;
  left: 0;
  width: 50%;
}

.header_menu_bar:nth-child(2) {
  width: 100%;
}
.header_menu_bar:nth-child(3) {
  width: 50%;
  bottom: 0;
  right: 0;
}

.header_menu:hover .header_menu_bar{
  width: 100%;
}

.header_menu_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30vw;
  height: auto;
  position: absolute;
  background-color:rgba(231, 151, 53, 0.9);
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  padding-top: 10vh;
}

.header_menu_list_link {
  padding: 1rem;
}

.header_menu_list_link:hover {
  color: lightgrey;
}

@media screen and (max-width: 768px) {
  .header_routes {
    display: none;
  }

  .header_mentorias {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    transform: translateX(calc(0 - 2.2rem - 2em));
  }

  .header_menu {
    display: inherit;
    cursor: pointer;
    z-index: 100;
  }
}

/* visible and hidden */

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: ease-in 0.5s;
}

.visible {
  display: inherit;
  transform: translate(0);
  transition: ease-out 0.5s;
}

/* animation for burger menu */

.header_menu_bar.header_menu_clicked:nth-child(1) {
  transform: translateY(calc(5vh - 1.8rem)) rotate(225deg);
  transition: ease-out 0.5s;
  height: 0.2rem;
  width: 100%;
}

.header_menu_bar.header_menu_clicked:nth-child(2) {
  transform: rotate(45deg);
  transition: ease-out 0.5s
}

.header_menu_bar.header_menu_clicked:nth-child(3) {
  transform: translateY(calc(-5vh + 1.8rem)) rotate(315deg);
  transition: ease-out 0.5s;
  height: 0.2rem;
  width: 100%;
}

.header_menu_bar.header_menu_unclicked {
  transform: translate(0) rotate(0);
  transition: cubic-bezier(1, 0, 0, 1) 0.5s;
  height: 0.1rem;
}
